body {
    background: rgb(3, 9, 83);
    text-align: center;
    color: white;
}

h1 {
   font-size: 100px;
   border: solid;
   margin: 1px;
}

h3 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

